# Checkpoint Two: Exploratory Data Analysis

Now that your chosen dataset is approved, it is time to start working on your analysis. Use this notebook to perform your EDA and make notes where directed to as you work.

## Getting Started

Since we have not provided your dataset for you, you will need to load the necessary files in this repository. Make sure to include a link back to the original dataset here as well.

My dataset:

Your first task in EDA is to import necessary libraries and create a dataframe(s). Make note in the form of code comments of what your thought process is as you work on this setup task.

In [113]:
#My objective: How many LRA owned properties in the city of St. Louis are sold and converted into
#single family homes? Additionally - how many remain in disrepair and how many are
#purchased by investors for other purposes?

#To answer these questions, I'm analyzing several data sources - Property Sales, Occupancy Permits and Demolition Permits.

In [114]:
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt
import matplotlib.pyplot as mlab
import matplotlib
plt.style.use('ggplot')
import csv

import mplcyberpunk
plt.style.use('cyberpunk')

In [115]:
#I ran into my first issue here. My data came from the St. Louis Regional Data Exchange and some of the 
#files were .mdb. Much Googling led me to the site https://www.mdbopener.com/ where I could convert to .csv

# These are building permits found here https://www.stlouis-mo.gov/data/datasets/dataset.cfm?id=1
building = pd.read_csv("building-permits-fields.csv")

In [116]:
#Parcel Sales found here https://rdx.stldata.org/dataset/property-sales/resource/4f2d771f-1ee4-435b-8693-de85c10e2d8a
sales = pd.read_csv("property-sales-fields.csv")

In [117]:
#I decided to focus only on the last 10 years for simplicity sake.
# These are Occupancy Permits found here https://rdx.stldata.org/dataset/occupancy-permits
twelve = pd.read_csv("2012.csv")
thirteen = pd.read_csv("2013.csv")
fourteen = pd.read_csv("2014.csv")
fifteen = pd.read_csv("2015.csv")
sixteen = pd.read_csv("2016.csv")
seventeen = pd.read_csv("2017.csv")
eighteen = pd.read_csv("2018.csv") 
nineteen = pd.read_csv("2019.csv")
twenty = pd.read_csv("2020.csv")
twentyone = pd.read_csv("2021.csv")
twentytwo = pd.read_csv("2022.csv")

In [118]:
#Demolition Permits
demo = pd.read_csv("demolition-permits-fields.csv")

In [130]:
#lra list found here https://rdx.stldata.org/dataset/lra-property/resource/6cd75ecb-94fa-4601-b598-19cf651ca544
boardup = pd.read_csv("dbo_vw_boardup_public.csv")
public = pd.read_csv("dbo_vw_public_inventory.csv")

## Get to Know the Numbers

Now that you have everything setup, put any code that you use to get to know the dataframe and its rows and columns better in the cell below. You can use whatever techniques you like, except for visualizations. You will put those in a separate section.

When working on your code, make sure to leave comments so that your mentors can understand your thought process.

In [133]:
boardup.columns, public.columns
boardup.info, public.info

(<bound method DataFrame.info of        Record_No  Work_Ticket_No      Contract_Date    Completion_date  \
 0          29468               1  06/01/00 00:00:00  06/01/00 00:00:00
 1          36051               2  08/30/00 00:00:00  08/30/00 00:00:00
 2          39081               3  08/31/00 00:00:00  09/12/00 00:00:00
 3          37071               4  11/09/00 00:00:00  11/09/00 00:00:00
 4          39103              11  03/06/00 00:00:00  03/06/00 00:00:00
 ...          ...             ...                ...                ...
 22794      46712           50364  08/17/17 00:00:00  08/17/17 00:00:00
 22795      49869           50437  09/13/17 00:00:00  09/14/17 00:00:00
 22796      49862           50438  09/13/17 00:00:00  09/14/17 00:00:00
 22797      47506           50439  09/13/17 00:00:00  09/14/17 00:00:00
 22798      49970           50481  09/20/17 00:00:00  09/21/17 00:00:00

          Assigned_to  Secure  Locks_Hasp Priority
 0      Board Up Crew       1           0      NaN
 1      Board Up Crew       1           0  Routine
 2      Board Up Crew       1           0      NaN
 3      Board Up Crew       1           0  Routine
 4      Board Up Crew       1           0      NaN
 ...              ...     ...         ...      ...
 22794  Board Up Crew       1           0  Routine
 22795  Board Up Crew       0           0  Routine
 22796  Board Up Crew       1           0  Routine
 22797  Board Up Crew       1           0  Routine
 22798  Board Up Crew       1           0  Routine

 [22799 rows x 8 columns]>,
 <bound method DataFrame.info of        Record_No       Handle     ParcelID  Address Add_Suffix Direction  \
 0          29063  10124000060   1240000300      715          R         N
 1          29064  10124000070   1240000700      713        NaN         N
 2          29065  10124000110   1240001100      609        NaN       NaN
 3          29066  10124000120   1240001200      611        NaN       NaN
 4          29067  10124000130   1240001300      615        NaN       NaN
 ...          ...          ...          ...      ...        ...       ...
 11795      50010  15531000430  55310004300     5215        NaN       NaN
 11796      50011  15531000420  55310004200     5217        NaN       NaN
 11797      50012  15349000070  53490000700     5980        NaN       NaN
 11798      50013  10259000012   2590000120      911        NaN         N
 11799      50014  10259000011   2590000110      901        NaN       NaN

                         Name Type Class     Acquisition_dt  ...     CenterY  \
 0                        6TH   ST    AA                NaN  ...  1018909.36
 1                        6TH   ST    AA                NaN  ...  1018871.45
 2                      LUCAS   AV    AA                NaN  ...  1018816.43
 3                      LUCAS   AV    AA                NaN  ...  1018824.20
 4                      LUCAS   AV    AA                NaN  ...  1018831.08
 ...                      ...  ...   ...                ...  ...         ...
 11795                 BEACON   AV     A  08/09/17 00:00:00  ...         NaN
 11796                 BEACON   AV     A  08/09/17 00:00:00  ...         NaN
 11797               THEODORE   AV     A  08/10/17 00:00:00  ...         NaN
 11798                    9TH   ST   NaN  09/20/17 00:00:00  ...         NaN
 11799  DR MARTIN LUTHER KING   DR   NaN  09/20/17 00:00:00  ...         NaN

        Value  Value_Estimated  Value_Est_Dt       Entered_Date        Usage  \
 0        NaN                0           NaN  10/20/88 00:00:00      Parking
 1        NaN                0           NaN  03/11/91 00:00:00      Parking
 2        NaN                0           NaN  10/20/88 00:00:00      Parking
 3        NaN                0           NaN  10/20/88 00:00:00      Parking
 4        NaN                0           NaN  10/20/88 00:00:00      Parking
 ...      ...              ...           ...                ...          ...
 11795    NaN                0           NaN  08/25/17 00:00:00  Residential
 11796    NaN                0           NaN  08/25/17 00:00:00  Residential
 11797    NaN                0           NaN  08/25/17 00:00:00  Residential
 11798    NaN                0           NaN  09/21/17 00:00:00      Parking
 11799    NaN                0           NaN  09/21/17 00:00:00      Parking

             Cost  Property_Source Purchase_Type  Parcel_Status
 0            0.0             LCRA           NaN    Unavailable
 1            0.0             LCRA           NaN    Unavailable
 2            0.0             LCRA           NaN    Unavailable
 3            0.0             LCRA           NaN    Unavailable
 4            0.0             LCRA           NaN    Unavailable
 ...          ...              ...           ...            ...
 11795        NaN        Donations           NaN      Available
 11796        NaN        Donations           NaN      Available
 11797        NaN        Donations           NaN      Available
 11798  7500000.0             LCRA           NaN          Lease
 11799        NaN             LCRA           NaN          Lease

 [11800 rows x 21 columns]>)

In [77]:
sales.columns

Index(['DATAFORMAT', 'DATASETID', 'DATATYPEID', 'DESCRIPTION',
       'DISTRIBUTIONID', 'LABEL', 'NAME', 'VOCABULARYID'],
      dtype='object')

In [73]:
sales.columns

Index(['DATAFORMAT', 'DATASETID', 'DATATYPEID', 'DESCRIPTION',
       'DISTRIBUTIONID', 'LABEL', 'NAME', 'VOCABULARYID'],
      dtype='object')

In [64]:
boardup.describe(), public.describe()

(          Record_No  Work_Ticket_No        Secure    Locks_Hasp
 count  22799.000000    22799.000000  22799.000000  22799.000000
 mean   41512.925216    26020.046099      0.924602      0.284135
 std     4592.588723    14141.444660      0.264038      0.451011
 min    29112.000000        1.000000      0.000000      0.000000
 25%    38835.000000    14220.500000      1.000000      0.000000
 50%    41509.000000    27462.000000      1.000000      0.000000
 75%    44985.500000    38536.500000      1.000000      1.000000
 max    50006.000000    50481.000000      1.000000      1.000000,
           Record_No        Handle      ParcelID       Address        CenterX  \
 count  11800.000000  1.180000e+04  1.180000e+04  11800.000000    6893.000000
 mean   41084.274407  1.383272e+10  3.831837e+10   3944.195085  573656.263752
 std     5835.628602  1.269665e+09  1.271234e+10   1536.756226   13958.096178
 min    29063.000000  1.001700e+10  9.320022e+07      0.000000       0.000000
 25%    35898.750000  1.339600e+10  3.396000e+10   2903.750000  568822.870000
 50%    41800.500000  1.378100e+10  3.781000e+10   4220.000000  573893.980000
 75%    46257.250000  1.482928e+10  4.829280e+10   5040.000000  579458.930000
 max    50014.000000  1.999900e+10  9.999000e+10   9911.000000  590932.540000

             CenterY         Value  Value_Estimated          Cost  \
 count  6.893000e+03   2834.000000     11800.000000  6.992000e+03
 mean   1.030208e+06     55.670078         0.159831  2.142178e+03
 std    2.303568e+04    385.489802         0.366464  9.038788e+04
 min    0.000000e+00      0.000000         0.000000  0.000000e+00
 25%    1.027946e+06      0.000000         0.000000  0.000000e+00
 50%    1.031133e+06      0.000000         0.000000  0.000000e+00
 75%    1.034356e+06      0.000000         0.000000  0.000000e+00
 max    1.053186e+06  10000.000000         1.000000  7.500000e+06

        Purchase_Type
 count            0.0
 mean             NaN
 std              NaN
 min              NaN
 25%              NaN
 50%              NaN
 75%              NaN
 max              NaN  )

In [65]:
boardup.mean()

Record_No         41512.925216
Work_Ticket_No    26020.046099
Secure                0.924602
Locks_Hasp            0.284135
dtype: float64

In [60]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DATAFORMAT      0 non-null      float64
 1   DATASETID       5 non-null      int64
 2   DATATYPEID      5 non-null      int64
 3   DESCRIPTION     3 non-null      object
 4   DISTRIBUTIONID  5 non-null      int64
 5   LABEL           1 non-null      object
 6   NAME            5 non-null      object
 7   VOCABULARYID    5 non-null      int64
dtypes: float64(1), int64(4), object(3)
memory usage: 448.0+ bytes

In [59]:
building.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DATAFORMAT      0 non-null      float64
 1   DATASETID       79 non-null     int64
 2   DATATYPEID      79 non-null     int64
 3   DESCRIPTION     79 non-null     object
 4   DISTRIBUTIONID  79 non-null     int64
 5   LABEL           79 non-null     object
 6   NAME            79 non-null     object
 7   VOCABULARYID    79 non-null     int64
dtypes: float64(1), int64(4), object(3)
memory usage: 5.1+ KB

In [63]:
building.describe()

       DATAFORMAT  DATASETID  DATATYPEID  DISTRIBUTIONID  VOCABULARYID
count         0.0       79.0   79.000000            79.0     79.000000
mean          NaN        1.0  110.075949             0.0      2.455696
std           NaN        0.0    1.906616             0.0      5.826107
min           NaN        1.0  109.000000             0.0      0.000000
25%           NaN        1.0  109.000000             0.0      0.000000
50%           NaN        1.0  109.000000             0.0      0.000000
75%           NaN        1.0  110.000000             0.0      0.000000
max           NaN        1.0  115.000000             0.0     17.000000

In [85]:
#This is a basic look at the occupany permits issued in year 2012, I can see things like description: single family, city block, parcel ID, etc.
twelve.info

<bound method DataFrame.info of       ADDRADJUSTED  ADDRNUM ADDRSUF                APPDATE  \
0                0     8459          2012-01-03 00:00:00.0
1                0     2847          2012-01-03 00:00:00.0
2                0     2218          2012-01-04 00:00:00.0
3                0     3270          2012-01-04 00:00:00.0
4                0     3010          2012-01-04 00:00:00.0
...            ...      ...     ...                    ...
2069             0     5860          2012-12-28 00:00:00.0
2070             0     5027          2012-12-28 00:00:00.0
2071             0      835          2012-12-28 00:00:00.0
2072             0      200          2012-12-31 00:00:00.0
2073             0     4127          2012-12-31 00:00:00.0

                                         APPDESCRIPTION  APPNUM APPTYPE  \
0                           SINGLE FAMILY ( SECTION 8 )  495427      AO
1                      BOOKSTORE 1ST FL , 2ND FL OFFICE  495437      AO
2                       WEB DESIGN & DEVELOPMENT OFFICE  495445      AO
3                 OFFICE SPACE (REAL ESTATE)  SUITE 100  495446      AO
4                                 OFFICE SPACE -STE 100  495448      AO
...                                                 ...     ...     ...
2069                                                NaN  503416      AO
2070  ALCOHOL/DRUG REHAB CTR/(1STFL 8 BEDS 12-19YRS/...  500159      AO
2071                      OFFICE (3RD FL LAB SOUTH) PMT  502256      AO
2072  FULL DRINK RESTAURANT/ BAR W/SIDEWALK SEATING ...  500085      AO
2073                          SINGLE FAMILY - SECTION 8  503417      AO

      ASRNBRHD             CANCELDATE CANCELTYPE  ...     STNAME STRUCTYPE1  \
0          334                    NaN        NaN  ...    CONCORD          1
1          142                    NaN        NaN  ...   CHEROKEE         20
2          146                    NaN        NaN  ...   CHEROKEE         20
3          119                    NaN        NaN  ...    HAMPTON         20
4          255                    NaN        NaN  ...     LOCUST         20
...        ...                    ...        ...  ...        ...        ...
2069       347                    NaN        NaN  ...  ROOSEVELT          0
2070       216  2017-12-28 00:00:00.0        NaN  ...   NORTHRUP         20
2071       265                    NaN        NaN  ...   CHOUTEAU         20
2072       262                    NaN        NaN  ...       13TH         20
2073       305                    NaN        NaN  ...    PENROSE          1

     STRUCTYPE2 STRUCTYPE3 STTYPE  TMPCITYBLOCK  TMPPARCEL  UNITNUM  \
0             0          0     PL       5636.00        270
1             0          0     ST       1510.00        390
2             0          0     ST       1558.00        306
3             0          0     AV       4757.03         35
4             0          0     ST       1021.03       8062
...         ...        ...    ...           ...        ...      ...
2069          0          0     PL       6098.00         90
2070          0          0     AV       3998.22         35
2071          0          0     AV        421.00         20
2072          0          0     ST        504.00         11
2073          0          0     ST       3566.00        260

      UPDATEGEO WARD00
0           NaN    NaN
1           NaN    NaN
2           NaN    NaN
3           NaN    NaN
4           NaN    NaN
...         ...    ...
2069        NaN    NaN
2070        NaN    NaN
2071        NaN    NaN
2072        NaN    NaN
2073        NaN    NaN

[2074 rows x 63 columns]>

In [94]:
#What are the columns in the various occupancy permit years?
twelve.columns

Index(['ADDRADJUSTED', 'ADDRNUM', 'ADDRSUF', 'APPDATE', 'APPDESCRIPTION',
       'APPNUM', 'APPTYPE', 'ASRNBRHD', 'CANCELDATE', 'CANCELTYPE',
       'CAREOFADDR', 'CAREOFCITY', 'CAREOFNAME', 'CAREOFSTATE', 'CAREOFZIP',
       'CDADIST', 'CDASUBDIST', 'CENSBLOCK00', 'CITYBLOCK', 'COMPLETEDATE',
       'ESTPROJECTCOST', 'FIRSTDATE', 'GEOCITYBLOCKPART', 'HANDLE',
       'ISSUEDATE', 'LASTDATE', 'MAINSTRUCTYPE', 'NBRHD', 'NBROFUNITS',
       'NEWUSE', 'NEWUSEGROUP1', 'NEWUSEGROUP2', 'NEWUSEGROUP3', 'NLC',
       'OCCNAME', 'OLDUSE', 'OLDUSEGROUP1', 'OLDUSEGROUP2', 'OLDUSEGROUP3',
       'OWNERADDR', 'OWNERCITY', 'OWNERCODE', 'OWNERNAME', 'OWNERSTATE',
       'OWNERZIP', 'PARCEL', 'PARCEL9', 'PARITY', 'POLICEDIST', 'PRCLERR',
       'PRECINCT02', 'PROJECTTYPE', 'STDIR', 'STNAME', 'STRUCTYPE1',
       'STRUCTYPE2', 'STRUCTYPE3', 'STTYPE', 'TMPCITYBLOCK', 'TMPPARCEL',
       'UNITNUM', 'UPDATEGEO', 'WARD00'],
      dtype='object')

In [155]:
#How many occupancy permit applications were there each year?
twelve["APPNUM"].count(), thirteen["APPNUM"].count(), fourteen["APPNUM"].count(), fifteen["APPNUM"].count(),

(2074, 2077, 2156, 1881)

In [157]:
sixteen["APPNUM"].count(), seventeen["APPNUM"].count(), eighteen["APPNUM"].count(), nineteen["APPNUM"].count(),

(1766, 2050, 2222, 2148)

In [158]:
twenty["APPNUM"].count(), twentyone["APPNUM"].count(), twentytwo["APPNUM"].count()

(1955, 1968, 129)

In [97]:
#What are the columns in the LRA public records list?
public.columns

Index(['Record_No', 'Handle', 'ParcelID', 'Address', 'Add_Suffix', 'Direction',
       'Name', 'Type', 'Class', 'Acquisition_dt', 'CenterX', 'CenterY',
       'Value', 'Value_Estimated', 'Value_Est_Dt', 'Entered_Date', 'Usage',
       'Cost', 'Property_Source', 'Purchase_Type', 'Parcel_Status'],
      dtype='object')

In [108]:
public[["Parcel_Status"]].describe()

       Value_Estimated
count     11800.000000
mean          0.159831
std           0.366464
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000

In [109]:
public[["Value_Estimated"]].describe()

       Value_Estimated
count     11800.000000
mean          0.159831
std           0.366464
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000

In [172]:
#Wait a minute. Why don't I combine all the years? Duh moment. 

occ = pd.concat([twelve, thirteen, fourteen, fifteen, sixteen, seventeen, eighteen, nineteen, twenty, twentyone, twentytwo]).reset_index(drop=True)
occ

,ADDRADJUSTED,ADDRNUM,ADDRSUF,APPDATE,APPDESCRIPTION,APPNUM,APPTYPE,ASRNBRHD,CANCELDATE,CANCELTYPE,...,STNAME,STRUCTYPE1,STRUCTYPE2,STRUCTYPE3,STTYPE,TMPCITYBLOCK,TMPPARCEL,UNITNUM,UPDATEGEO,WARD00
0,0,8459,,2012-01-03 00:00:00.0,SINGLE FAMILY ( SECTION 8 ),495427,AO,334,NaN,NaN,...,CONCORD,1,0,0,PL,5636.00,270,,NaN,NaN
1,0,2847,,2012-01-03 00:00:00.0,"BOOKSTORE 1ST FL , 2ND FL OFFICE",495437,AO,142,NaN,NaN,...,CHEROKEE,20,0,0,ST,1510.00,390,,NaN,NaN
2,0,2218,,2012-01-04 00:00:00.0,WEB DESIGN & DEVELOPMENT OFFICE,495445,AO,146,NaN,NaN,...,CHEROKEE,20,0,0,ST,1558.00,306,,NaN,NaN
3,0,3270,,2012-01-04 00:00:00.0,OFFICE SPACE (REAL ESTATE) SUITE 100,495446,AO,119,NaN,NaN,...,HAMPTON,20,0,0,AV,4757.03,35,,NaN,NaN
4,0,3010,,2012-01-04 00:00:00.0,OFFICE SPACE -STE 100,495448,AO,255,NaN,NaN,...,LOCUST,20,0,0,ST,1021.03,8062,,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20421,0,1401,NaN,2022-01-28 00:00:00.0,CHURCH,7579,AO,238,NaN,NaN,...,KINGSHIGHWAY,0,0,0,BLVD,3789.00,260,,2022-01-28 00:00:00.0,NaN
20422,0,826,NaN,2022-01-28 00:00:00.0,OFFICE SPACE USED FOR HOME HEALTH CARE.,7580,AO,238,NaN,NaN,...,UNION,0,0,0,BLVD,4846.00,10,0,2022-01-28 00:00:00.0,NaN
20423,0,3106,NaN,2022-01-28 00:00:00.0,"CONVENIENCE STORE WITH COOKING (NO LIQUOR, NO ...",7581,AO,141,NaN,NaN,...,CHEROKEE,0,0,0,ST,1580.00,145,,2022-01-28 00:00:00.0,NaN
20424,0,4759,NaN,2022-01-28 00:00:00.0,REPAIR AND SERVICE,7582,AO,101,NaN,NaN,...,NEBRASKA,0,0,0,AV,2757.00,310,1,2022-01-28 00:00:00.0,NaN
20425,0,5443,NaN,2022-01-28 00:00:00.0,(OFFICE USE ONLY),7583,AO,103,NaN,NaN,...,ALABAMA,0,0,0,NaN,2850.00,150,,2022-01-28 00:00:00.0,NaN

## Visualize

Create any visualizations for your EDA here. Make note in the form of code comments of what your thought process is for your visualizations.

In [193]:
#I had a lot of trouble here. The error I received initialy was "No data to plot" or something similar. 
#After concatenating all the years together, I received 
#"DataFrame constructor not properly called!"
#I checked type and discovered I'm using a string and needed to convert to an integer. 

print(type('APPNUM'))

<class 'str'>

In [215]:
AppNum = int(float('APPNUM'))

ValueError: could not convert string to float: 'APPNUM'

In [209]:


occ=pd.DataFrame(list("APPNUM"()),columns=['col1','col2'])
#occ_tot = pd.DataFrame(occ.loc[:,"APPNUM"].sum())
occ_tot.rename(columns = {0:'total'}, inplace = True)

twelve_tot.plot(kind = 'bar', legend = False)
plt.title('Occupancy Permits Issued 2012-2022',color = 'black')
plt.xticks(color = 'black')
plt.yticks(color = 'black')
plt.xlabel('Year',color = 'black')
plt.ylabel('Number Issued',color = 'black')
plt.savefig('bar_vertical.png')

plt.show()

<>:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<ipython-input-209-76d6e13f3c5c>:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  occ=pd.DataFrame(list("APPNUM"()),columns=['col1','col2'])

TypeError: 'str' object is not callable

In [219]:
year = list(map(str, (2012,2013,2014,2015, 2016)))
occ = pd.DataFrame(occ.loc[['APPDESCRIPTION'],year].T)

df_group.plot.bar(edgecolor = 'white')
plt.title('Occupancy Permits Issued 2012-2022',color = 'black')
plt.xticks(color = 'black')
plt.yticks(color = 'black')
plt.xlabel('Year',color = 'black')
plt.ylabel('Number Issued',color = 'black')
plt.legend(title = 'Type', fontsize = 12)
plt.savefig('bar_grouped.png')

plt.show()

KeyError: "None of [Index(['APPDESCRIPTION'], dtype='object')] are in the [index]"

## Summarize Your Results

With your EDA complete, answer the following questions.

1. Was there anything surprising about your dataset? 
2. Do you have any concerns about your dataset? 
3. Is there anything you want to make note of for the next phase of your analysis, which is cleaning data?

In [174]:
#1. Some of the labels on columns are not as descriptive as I would like for my questions. 
#I also feel there may be missing data.

#2. I am wondering if I have access to all the data I need to answer the questions I am posing. 
#At the same time, I'm feeling overwhelmed that I may be sifting through too many sources.

#3. Relabeling some columns may be necessary.